h1{
    text-transform: uppercase;
    font-family: Baskerville;
    font-size: 3rem;
    color: white;
}

html{
    background-color: black;
}

p{
    color: white;
}

img{
    border: 5px;
    border-color: red;
    height: 50%;
    width: 50%;
}

div{
    text-align: center;
}